.item-card {
  width: 10rem;
  height: 10rem;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 4px;
  background: transparent;
  padding: 0;
  color: #e5e7eb;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
  overflow: hidden;
}

.item-head {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px;
  min-height: 2rem; /* évite un haut “vide” */
}
.item-title {
  margin: 0;
  font-weight: 800;
  font-size: clamp(0.8rem, 0.9rem, 1rem);
  line-height: 1.1;
  max-height: 2rem;
  width: 4rem;
  max-width: 4rem;
  line-break: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
.item-thumb {
  width: 64px;
  height: 64px;
  object-fit: contain;
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.35));
  /* petit “zoom” si tu veux remplir un peu plus */
  transform: translateY(0);
}

.item-meta {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  font-size: 0.65rem;
  line-height: 1.1;
}
.item-meta > div {
  display: flex;
  justify-content: space-between;
}
.item-meta dt {
  color: #9aa4b2;
}
.item-meta dd {
  margin: 0;
}

.item-stats {
  list-style: none;
  margin: 2px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  font-size: 0.65rem;
  margin-bottom: var(--small-gap);
}
.item-stats li {
  display: flex;
  justify-content: space-around;
}

li:not(.invalid) .key {
  color: #9aa4b2;
}
li:not(.invalid) .value {
  font-weight: 600;
  color: #6c8cff;
}

.Popup {
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  background-color: canvas;
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-instant] {
    transition-duration: 0ms;
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }
}
