.wrapper {
  all: unset;
  display: block;
  overflow: visible;
  position: relative;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 160px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    min-height: 140px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .card {
    width: 160px;
    height: 140px;
  }
}
