.thumbWrapper {
  margin-top: var(--gap);
  display: grid;
  place-items: center;
  height: 64px;
}

.thumb {
  width: 64px;
  height: 64px;
  object-fit: contain;
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.35));
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-weight: 700;
  font-size: 0.98rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0;
}

.effects {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: var(--small-gap);
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
  }
}
