.badge {
  font-size: var(--font-size-sm);
  line-height: 1rem;
  vertical-align: middle;
  padding: 2px 6px;
  border-radius: var(--rounded-radius);
  border: 1px solid var(--card-bd);
  background: var(--color-gray-500);
  color: var(--text);
  margin-left: var(--small-gap);
  white-space: nowrap;
  box-shadow: var(--shadow);
}
