.card {
  position: relative;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: var(--very-small-gap);
  padding: var(--small-gap);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  border-radius: var(--small-radius);
  color: var(--color-gray-900);
  transition:
    transform 0.12s ease,
    border-color 0.12s ease,
    background-color 0.12s ease,
    border 0.12s ease;
  outline: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-200);
      cursor: pointer;
      transform: translateY(-2px) !important;
      box-shadow: 0 12px 32px var(--color-cyan-light);
      border-color: var(--color-cyan);
    }
  }

  composes: fadeInUp from '@/styles/animations.module.css';
}
