.wrapper {
  all: unset;
  display: block;
  overflow: visible;
  position: relative;
  width: fit-content;
}

.placeholder {
  align-self: center;
  justify-self: center;
  color: var(--muted);
  font-weight: 600;
}

.names {
  display: flex;
  align-items: baseline;
  gap: 6px;
  flex-wrap: wrap;
  font: 800 18px/1.05;
  margin-bottom: var(--very-small-gap);
}
.name {
  white-space: nowrap;
}
.sup {
  font-size: 0.65em;
  margin-left: 2px;
  vertical-align: super;
  color: var(--accent);
}
.sep {
  opacity: 0.5;
}

.effects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--small-gap);
  gap: 6px;
  max-height: 90px;
  overflow-y: auto;
}

.footer {
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: absolute;
  bottom: var(--small-gap);
  right: var(--small-gap);
  gap: var(--very-small-gap);
}
.techLabel {
  color: var(--muted);
  font: 700 12px/1 system-ui;
}
