.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.popup {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 980px;
  max-height: 48rem;
  margin-top: -2rem;
  padding: var(--small-gap);
  border-radius: var(--radius);
  outline: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-150);
  color: var(--color-gray-900);
  transition: all 150ms;
  transition:
    transform 150ms,
    opacity 150ms;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.header,
.footer {
  display: flex;
  align-items: center;
  gap: var(--gap);
  position: sticky;
  z-index: 1;
  padding: var(--gap);
}

.header {
  border-bottom: 1px solid var(--color-gray-850);
  top: 0;
}

.title {
  margin: 0 var(--very-small-gap);
  line-height: 1.75rem;
  font-weight: 500;
}

.footer {
  position: relative;
  border-top: 1px solid var(--color-gray-850);
  justify-content: flex-end;
  bottom: 0;
}

.content {
  font-size: var(--font-size-lg);
  color: var(--color-gray-600);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: var(--gap);
  overflow-y: auto;
  padding: var(--gap) 0;
}

.close {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-100);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;
  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-200);
      cursor: pointer;
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  &:hover {
    transform: translateY(2px) scale(0.98);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
  }
}
