:root {
  isolation: isolate;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--color-gray-50);
  font-family: var(--font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition:
    background-color 350ms ease-in-out,
    color 350ms ease-in-out,
    border-color 350ms ease-in-out;
}

body {
  margin: 0;
  display: flex;
  min-width: 960px;
  min-height: 100vh;
}
