.content {
  box-sizing: border-box;
  font-size: var(--font-size);
  line-height: var(--font-size-xxl);
  display: flex;
  flex-direction: column;
  padding: var(--very-small-gap) var(--small-gap);
  border-radius: var(--small-radius);
  background-color: var(--color-gray-150);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-instant] {
    transition-duration: 0ms;
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }
}
