.wrapper {
  all: unset;
  display: block;
  overflow: visible;
  position: relative;

  &:disabled {
    background-color: oklch(20% 0.015 264 / 0.35);
    border-color: oklch(24% 0.02 264 / 0.5);
    color: oklch(80% 0 264 / 0.5);
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }
}

.card {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 160px;
}

.placeholder {
  align-self: center;
  justify-self: center;
  color: var(--muted);
  font-weight: 600;
}

/* Contenu rempli */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 160px;
  gap: 8px;
}

/* Noms concaténés */
.names {
  display: flex;
  align-items: baseline;
  gap: 6px;
  flex-wrap: wrap;
  font:
    800 18px/1.05 system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
}
.name {
  white-space: nowrap;
}
.sup {
  font-size: 0.65em;
  margin-left: 2px;
  vertical-align: super;
  color: var(--accent);
}
.sep {
  opacity: 0.5;
}

/* Tags (pills) */
.effects {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* Pied : Tech total */
.footer {
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: var(--gap);
}
.techLabel {
  color: var(--muted);
  font: 700 12px/1 system-ui;
}
.techValue {
  color: var(--accent);
  font: 800 16px/1 system-ui;

  &.missingTech {
    color: var(--color-red);
  }
  &.overTech {
    color: var(--color-red);
  }
  &.perfectTech {
    color: var(--color-green);
  }
}
