.chip {
  font-size: var(--font-size-sm);
  padding: 5px 6px;
  border-radius: var(--rounded-radius);
  line-height: 1rem;
  background: var(--color-gray-500);
  border: 1px solid var(--card-bd);
  color: var(--text);
  box-shadow: var(--shadow);

  &.positive {
    color: var(--color-green);
  }

  &.negative {
    color: var(--color-red);
  }

  &.neutral {
    color: var(--color-blue);
  }
}
