.chip {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-sm);
  padding: 5px 6px;
  border-radius: var(--rounded-radius);
  line-height: 1rem;
  background: var(--color-gray-500);
  border: 1px solid var(--card-bd);
  color: var(--text);
  box-shadow: var(--shadow);

  &[data-value-type='positive'] {
    color: var(--color-green);
  }

  &[data-value-type='negative'] {
    color: var(--color-red);
  }

  &[data-value-type='neutral'] {
    color: var(--color-blue);
  }
}
